<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../css/comun.css"> -->
    <link rel="stylesheet" href="c.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <style>


    </style>

</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <div class="nav-bar-box-logo">
                    <h3>TAZAS ROTAS
                    </h3>
                </div>
                <div id="nav-bar-btns">
                    <ul>
                        <li class="nav-bar-li"><a href="#">HOME</a></li>
                        <li class="nav-bar-li"><a href="#">MENU</a></li>
                        <li class="nav-bar-li"><a href="#">ABOUT</a></li>
                        <li class="nav-bar-li"><a href="#">CONTACT</a></li>
                        <li class="nav-bar-li" style="background-color:rgb(218,165,32) ;"><a href="#">BOOK A TABLE</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <aside id="submenu">
            <!-- <div id="prod-list"><img class="icon" src="sell.png"></div> -->
            <div id="ventas"></div>
        </aside>
    </header>
    <div id="wrap">
        <main>
            <section id="image-slideshow">
                <div class="img">
                    <img src="../img/cafe/cafe.jpg">
                    <div>
                        <h1>Title slice 1</h1>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio labore quod placeat saepe maiores provident exercitationem! Expedita iusto quod, similique cupiditate consectetur atque delectus, aliquid, officia iure harum maxime ab!</p>
                    </div>
                </div>
                <div class="img2">
                    <img src="../img/cafe/cafe2.jpg">
                    <div>
                        <h1>Title slice 1</h1>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio labore quod placeat saepe maiores provident exercitationem! Expedita iusto quod, similique cupiditate consectetur atque delectus, aliquid, officia iure harum maxime ab!</p>
                    </div>
                </div>
                <div class="img3">
                    <img src="../img/cafe/cafe3.jpg">
                    <div>
                        <h1>Title slice 1</h1>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio labore quod placeat saepe maiores provident exercitationem! Expedita iusto quod, similique cupiditate consectetur atque delectus, aliquid, officia iure harum maxime ab!</p>
                    </div>
                </div>
                <div class="btns-images">
                    <div class="btn-img"></div>
                    <div class="btn-img"></div>
                    <div class="btn-img"></div>
                </div>
            </section>
            <section id="location">
        
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3736.83349209717!2d-101.001129852536!3d20.51305095649584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842c971e85b25927%3A0xf978f495ab0416b2!2sTazas%20Rotas!5e0!3m2!1sen!2sie!4v1694874623347!5m2!1sen!2sie" width="800" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>     
                </div> 
                    
            </section>


            <!-- ALL THE ORDERS SECTION  -->

            <!-- <section id="sales-day">
                <div class="container">
                    <div class="sales-day-orderid">
                        <h1>Order no: <span>1</span></h1>
                    </div>
                    <div class="div-sec">
        
                        <div  class="sales-day-product">
                            <h2><span>Cafe</span></h2>
                        </div>
                        <div  class="sales-day-price">
                            <h2><span>44.00</span></h2>
                        </div>
                    </div>

                    <div class="div-sec">
    
                        <div class="sales-day-product">
                            <h2>Cafe</h2>
                        </div>
                        <div  class="sales-day-price">
                            <h2>44.00</h2>
                        </div>
                    </div>
                    <div class="container-total-sale">
                        <h1><span>190.00</span></h1>
                    </div>
                </div>
                <div class="container">
                    <div class="sales-day-orderid">
                        <h1>Order no: <span>1</span></h1>
                    </div>
                    <div class="div-sec">
        
                        <div  class="sales-day-product">
                            <h2><span>Cafe</span></h2>
                        </div>
                        <div  class="sales-day-price">
                            <h2><span>44.00</span></h2>
                        </div>
                    </div>

                    <div class="div-sec">
    
                        <div class="sales-day-product">
                            <h2>Cafe</h2>
                        </div>
                        <div  class="sales-day-price">
                            <h2>44.00</h2>
                        </div>
                    </div>
                    <div class="container-total-sale">
                        <h1><span>190.00</span></h1>
                    </div>
                </div>


            </section> -->



            <!-- <div id="contenido">
                
                <form id="items">
                    <input class="item-input" name="input-product" placeholder="Producto" required>
                        <input class="item-input" name="input-price" placeholder="precio" required>
                        <input class="item-input" name="input-description" placeholder="descripcion" required><br>
                    
                        <button type="submit">Agregar</button>
                    

                </form>
                <section id="items-list">
                    <div class="fila">
                        <div class="item it">PRODUCTO</div>
                        <div class="price it"><span>PRECIO</div>
                        <div class="categoria it">CATEGORIA</div>
                        <div class="borrar it">ELIMINAR</div>
                    </div>
                    <div class="fila">
                        <div class="item it">Cafe</div>
                        <div class="price it"><span>&dollar;</span>25</div>
                        <div class="categoria it">caliente</div>
                        <div class="borrar it">X</div>
                    </div>
                    <div class="fila">
                        <div class="item it">Cafe</div>
                        <div class="price it"><span>&dollar;</span>25</div>
                        <div class="categoria it">caliente</div>
                        <div class="borrar it">X</div>
                    </div>
                    

                </section>
                
            </div> -->



            
        </main>
    </div>
    <footer>
        <script src="app.js"></script>
    </footer>


</body>

</html>