* {
    margin: 0;
    padding: 0;
}
:root{
    --boder: 1px solid yellow;
}

body {
    /* min-width: 80em; */
    background: url(../bg2.jpg);
}
header{
    width: 100%;
}

/* 
*************************
 NAV SECTION
 ************************
*/
nav {
    position:fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    padding: 1em 0 0 0;
    display: flex;
    justify-content: center;
    background-color: #d4d4d4;

}

.nav-bar {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
    width: 1900px;


}

.nav-bar-box-logo {
    height: 3em;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 35%;

}

.nav-bar-box-logo h3 {
    font-size: 2em;
    color: black;
}

/* Nav btns */

#nav-bar-btns {
    width: 65%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 3em;
    font-size: 1.3em;
}

#nav-bar-btns ul {
    justify-content: center;
    align-items: center;
}

/* Need to add this line otherwise the li element will ignore the width */
.nav-bar-li {
    float: left;
}

#nav-bar-btns ul li {
    list-style-type: none;
    display: inline-block;
    width: 150px;
    border: 1px solid rgb(218, 165, 32);
    text-align: center;
    margin: 0 1em;
    padding: .5em
}

#nav-bar-btns ul li:hover {
    background-color: rgb(218, 165, 32);
    color: #d4d4d4
}

#nav-bar-btns ul li a {
    text-decoration: none;
    color: black;
    width: 10px;
}

/* 
*************************
 WRAP SECTION
 ************************
*/
#wrap {
    width: 1600px;
    margin: auto;
    justify-content: center;
    /* border: 1px solid red; */
    padding-top: 9em;
}
/* 
*************************
 HOME SECTION
 ************************
*/
#home-section{
    width: 1600px;
    height:auto;
    /* background:red; */
}
#home-section img{
    width: 100%;
}
/* 
*************************
 CAFE IMAGES SLIDESHOW SECTION
 ************************
*/
#slideshow{
    display: flex;
    justify-content: center;
}
#image-slideshow{
    position: relative;width:1000px;height: 700px;margin: 10px; 
    /* background: #1d212B; */
}
#image-slideshow .slide-img{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);

}
#image-slideshow .slide-img.active-slide{
    clip-path: circle(150% at 0 50%);
    transition: 1s;
    transition-property: clip-path;
    width:1500px;
}
#image-slideshow .slide-img img{
    object-fit: scale-down;
    z-index: 1;
    width:1000px;
    border-radius: 5px;
    height: 700px;
    object-fit: fill;

}
#image-slideshow .slide-img div{
    position: absolute; top:0; padding: 15px 30px; width:87%;
}
#image-slideshow .slide-img div h1{
    color: #fff;
    text-transform:  uppercase;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
}
#image-slideshow .slide-img div p{
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    text-align: justify;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}
#image-slideshow .btns-images{
    z-index: 2;
    position:absolute;
    display: flex;
    bottom: 30px;
    left:50%;
    transform: translateX(-50%);
}
#image-slideshow .btns-images .btn-img{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height:12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
#image-slideshow .btns-images .btn-img.active-slide{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

/* 
*************************
 LOCATION SECTION SECTION
 ************************
*/ 
#location {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;
    border: 1px solid red;
    width: inherit;
}

#location div {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#location iframe {
    border: purple 1px solid;
    align-items: center;
}